@import './base.css';

.powerful-select-wrap {
	position: relative;
	display: inline-block;
	> ul {
		background-color: aliceblue;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 1;
		> li {
			padding: 4px;
			&:hover {
				background-color: aqua;
			}
		}
	}
}

.powerful-modal-wrap {
	z-index: 100;
	background: rgba(53, 54, 65, 0.5);
	.powerful-modal {
		background-color: gray;
		padding: 8px;
		margin: auto;
		.title {
			background-color: darkgray;
			padding: 4px;
		}
	}
}